# Обязательно укажите токен бота, его можно получить у BotFather в Telegram

# Вставьте токен в кавычки
BOT_TOKEN="12345567890:abcdefghijklmnopqrstuvwxyz"

# То, что ниже, указывается только для лемора чата.
# Для других чатов просто удалите всё, что ниже этой строчки,
# затем переименуйте файл в .env

# ID человека, который сможет использовать команду /kiss
KISSER_ID="1234567890"

# ID лемора чата
LEMORA_CHAT_ID="-1234567890"
