# ВАЖНО! При запуске через Docker контейнер удалите кавычки

# Обязательно укажите токен бота, его можно получить у BotFather в Telegram
BOT_TOKEN="12345567890:abcdefghijklmnopqrstuvwxyz"

# ID человека, который сможет использовать команду /kiss (можно не указывать)
KISSER_ID="1234567890"
